OSB/Resources/Calculate.wsdl

<wsdl:definitions name="Calculate" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SBProject/Calculate" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/SBProject/Calculate" xmlns:inp1="http://TargetNamespace.com/Calculate_sum_op_response" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://TargetNamespace.com/Calculate_pasc0008_response">
    <plnk:partnerLinkType name="Calculate">
        <plnk:role name="CalculateProvider" portType="tns:Calculate_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/Calculate_sum_op_response" schemaLocation="xsd_resspone_sum_op.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SBProject/Calculate" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="sum_op_params">
                <complexType>
                    <sequence>
                        <element name="value1" type="string"/>
                        <element name="value2" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/Calculate_pasc0008_response" schemaLocation="pasc008Resp.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/SBProject/Calculate" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="pasc0008_params">
                <complexType>
                    <sequence>
                        <element name="optName" type="string"/>
                        <element name="senderId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="sum_op_inputMessage">
        <wsdl:part name="request" element="tns:sum_op_params"/>
    </wsdl:message>
    <wsdl:message name="sum_op_outputMessage">
        <wsdl:part name="reply" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="pasc0008_inputMessage">
        <wsdl:part name="request" element="tns:pasc0008_params"/>
    </wsdl:message>
    <wsdl:message name="pasc0008_outputMessage">
        <wsdl:part name="reply" element="inp2:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="Calculate_ptt">
        <wsdl:operation name="sum_op">
            <wsdl:input message="tns:sum_op_inputMessage"/>
            <wsdl:output message="tns:sum_op_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="pasc0008">
            <wsdl:input message="tns:pasc0008_inputMessage"/>
            <wsdl:output message="tns:pasc0008_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Calculate_ptt-binding" type="tns:Calculate_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sum_op">
            <soap:operation soapAction="sum_op"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="pasc0008">
            <soap:operation soapAction="pasc0008"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>